<?xml version="1.0" ?>
<robot name="endoscope" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:include filename="$(find storz_endoscope_description)/urdf/materials.xacro" />
<xacro:include filename="$(find storz_endoscope_description)/urdf/endoscope.trans" />
<xacro:include filename="$(find storz_endoscope_description)/urdf/endoscope.gazebo" />
<link name="link_0">
  <inertial>
    <origin rpy="0 0 0" xyz="0.0011044635060518421 -0.00025940397558044673 0.024608364371170997"/>
    <mass value="0.6888304856441179"/>
    <inertia ixx="0.000315" ixy="-0.0" ixz="-1.3e-05" iyy="0.000607" iyz="3e-06" izz="0.000517"/>
  </inertial>
  <visual>
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <geometry>
      <mesh filename="package://storz_endoscope_description/meshes/link_0.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <geometry>
      <mesh filename="package://storz_endoscope_description/meshes/link_0.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="link_1">
  <inertial>
    <origin rpy="0 0 0" xyz="0.046573718971088175 -0.0015143640659485344 -4.88787786356859e-07"/>
    <mass value="0.9169103264945898"/>
    <inertia ixx="0.000214" ixy="5.5e-05" ixz="-0.0" iyy="0.000789" iyz="0.0" izz="0.000835"/>
  </inertial>
  <visual>
    <origin rpy="0 0 0" xyz="-0.0433 0.0 -0.0415"/>
    <geometry>
      <mesh filename="package://storz_endoscope_description/meshes/link_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin rpy="0 0 0" xyz="-0.0433 0.0 -0.0415"/>
    <geometry>
      <mesh filename="package://storz_endoscope_description/meshes/link_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="virtual_camera_link_1"/>

<joint name="Rigid1" type="fixed">
  <origin rpy="0 0 0" xyz="0.0433 0.0 0.0415"/>
  <parent link="link_0"/>
  <child link="link_1"/>
</joint>

<joint name="Rigid2" type="fixed">
  <origin rpy="0 0 0" xyz="-0.1903 0.0 0.0415"/>
  <parent link="link_0"/>
  <child link="virtual_camera_link_1"/>
</joint>

</robot>
