<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="storz_endoscope" params="endoscope_name robot_name parent">

        <!-- include gazebo specifications -->
        <xacro:include filename="$(find storz_endoscope_description)/gazebo/storz_endoscope.gazebo.xacro" />

        <!--joint between {parent} and link_0-->
        <joint name="${parent}_${endoscope_name}_joint" type="fixed">
            <parent link="${parent}"/>
            <child link="${endoscope_name}_link_0"/>
            <origin xyz="0 0 0" rpy="0 0 1.57079632679"/>
        </joint>

        <!-- link 0 -->
        <link name="${endoscope_name}_link_0">
            <inertial>
                <origin rpy="0 0 0" xyz="0.05347530282631193 -0.0009866876037994033 0.03417463143575086"/>
                <mass value="1.5884453511086485"/>
                <inertia ixx="0.000641" ixy="9.6e-05" ixz="-0.000622" iyy="0.004145" iyz="1.2e-05" izz="0.003991"/>
            </inertial>
            <visual>
                <origin rpy="0 0 0" xyz="0 0 0"/>
                <geometry>
                    <mesh filename="package://storz_endoscope_description/meshes/visual/link_0.stl" scale="0.001 0.001 0.001"/>
                </geometry>
                <material name="white">
                    <color rgba="1.0 1.0 1.0 1.0"/>
                </material>
            </visual>
            <collision>
                <origin rpy="0 0 0" xyz="0 0 0"/>
                <geometry>
                <mesh filename="package://storz_endoscope_description/meshes/collision/link_0.stl" scale="0.001 0.001 0.001"/>
                </geometry>
            </collision>
        </link>

        <joint name="${endoscope_name}_joint_1" type="fixed">
            <origin rpy="0 0 0" xyz="-0.015 0.0 0.0415"/>
            <parent link="${endoscope_name}_link_0"/>
            <child link="${endoscope_name}_link_1"/>
        </joint>

        <!-- link 1 -->
        <link name="${endoscope_name}_link_1">
            <inertial>
                <origin rpy="0 0 0" xyz="-0.08761286703720295 1.6070339520327724e-16 2.081251837537934e-13"/>
                <mass value="0.017299976665697662"/>
                <inertia ixx="0.0" ixy="-0.0" ixz="-0.0" iyy="4.4e-05" iyz="-0.0" izz="4.4e-05"/>
            </inertial>
            <visual>
                <origin rpy="0 0 0" xyz="0.015 -0.0 -0.0415"/>
                <geometry>
                    <mesh filename="package://storz_endoscope_description/meshes/visual/link_1.stl" scale="0.001 0.001 0.001"/>
                </geometry>
                <material name="white">
                    <color rgba="1.0 1.0 1.0 1.0"/>
                </material>
            </visual>
            <collision>
                <origin rpy="0 0 0" xyz="0.015 -0.0 -0.0415"/>
                <geometry>
                    <mesh filename="package://storz_endoscope_description/meshes/collision/link_1.stl" scale="0.001 0.001 0.001"/>
                </geometry>
            </collision>
        </link>

        <joint name="${endoscope_name}_joint_cm" type="fixed">
            <origin rpy="1.57079632679 0 3.141592654" xyz="-0.1753 0.0 0.0"/>
            <parent link="${endoscope_name}_link_1"/>
            <child link="${endoscope_name}_link_cm"/>
        </joint>

        <!-- camera link -->
        <link name="${endoscope_name}_link_cm"/>

        <!-- optical frame https://answers.ros.org/question/232534/gazebo-camera-frame-is-inconsistent-with-rviz-opencv-convention/ -->
        <joint name="${endoscope_name}_joint_cm_optical" type="fixed">  <!-- add continuous joint to rotate image digitally -->
            <parent link="${endoscope_name}_link_cm"/>
            <child link="${endoscope_name}_link_cm_optical"/>
            <origin xyz="0 0 0" rpy="-1.57079632679 0 -1.57079632679"/>
            <!--axis xyz="0.0 0.0 0.01"/-->  <!-- rotate about the optical axis -->
        </joint>  

        <link name="${endoscope_name}_link_cm_optical">
        </link>  

        <!-- extensions -->
        <xacro:storz_endoscope_gazebo endoscope_name="${endoscope_name}" robot_name="${robot_name}"/>

    </xacro:macro>
</robot>
