<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="endoscope_transmission" params="hardware_interface endoscope_name">

        <!-- joint 1 -->
        <transmission name="${endoscope_name}_tran_1">
            <robotNamespace>/${endoscope_name}</robotNamespace>
            <type>transmission_interface/SimpleTransmission</type>
            <joint name="${endoscope_name}_joint_1">
                <hardwareInterface>hardware_interface/${hardware_interface}</hardwareInterface>
            </joint>
            <actuator name="${endoscope_name}_motor_1">
                <hardwareInterface>hardware_interface/${hardware_interface}</hardwareInterface>
                <mechanicalReduction>1</mechanicalReduction>
            </actuator>
        </transmission>

    </xacro:macro>

</robot>
