<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  
    <xacro:macro name="endoscope" params="endoscope_name robot_name parent">

        <!-- include gazebo specifications -->
        <xacro:include filename="$(find da_vinci_endoscope_description)/urdf/endoscope.gazebo.xacro"/>

        <!--joint between {parent} and link_0-->
        <joint name="${parent}_${endoscope_name}_joint" type="fixed">
            <parent link="${parent}"/>
            <child link="${endoscope_name}_link_0"/>
            <origin xyz="0 0 0" rpy="0 0 1.57079632679"/>
        </joint>

        <!-- link 0 -->
        <link name="${endoscope_name}_link_0">
            <inertial>
                <origin rpy="0 0 0" xyz="-7.270573632311392e-18 -7.270573632311392e-18 0.09976749827968114"/>
                <mass value="2.4549415802586934"/>
                <inertia ixx="0.008545" ixy="-0.0" ixz="-0.0" iyy="0.008545" iyz="-0.0" izz="0.000822"/>
            </inertial>
            <visual>
                <origin rpy="0 0 0" xyz="0 0 0"/>
                <geometry>
                    <mesh filename="package://da_vinci_endoscope_description/meshes/visual/link_0.stl"/>
                </geometry>
                <material name="white">
                    <color rgba="1.0 1.0 1.0 1.0"/>
                </material>
            </visual>
            <collision>
                <origin rpy="0 0 0" xyz="0 0 0"/>
                <geometry>
                    <mesh filename="package://da_vinci_endoscope_description/meshes/collision/link_0.stl"/>
                </geometry>
            </collision>
        </link>

        <joint name="${endoscope_name}_joint_1" type="fixed">
            <origin rpy="0 0 0" xyz="0.0 0.0 0.182"/>
            <parent link="${endoscope_name}_link_0"/>
            <child link="${endoscope_name}_link_1"/>
        </joint>

        <!-- link 1 -->
        <link name="${endoscope_name}_link_1">
            <inertial>
                <origin rpy="0 0 0" xyz="-1.8420957352208925e-18 5.908967207684404e-06 0.17400951653092117"/>
                <mass value="0.1513971388421877"/>
                <inertia ixx="0.001529" ixy="-0.0" ixz="0.0" iyy="0.001529" iyz="-0.0" izz="1e-06"/>
            </inertial>
            <visual>
                <origin rpy="0 0 0" xyz="0.0 -0.0 -0.182"/>
                <geometry>
                    <mesh filename="package://da_vinci_endoscope_description/meshes/visual/link_1.stl"/>
                </geometry>
                <material name="silver">
                    <color rgba="1 0 0 1"/>
                </material>
            </visual>
            <collision>
                <origin rpy="0 0 0" xyz="0.0 -0.0 -0.182"/>
                <geometry>
                    <mesh filename="package://da_vinci_endoscope_description/meshes/collision/link_1.stl"/>
                </geometry>
            </collision>
        </link>

        <joint name="${endoscope_name}_joint_cm" type="fixed">
            <parent link="${endoscope_name}_link_1"/>
            <child link="${endoscope_name}_link_cm"/>
            <origin xyz="0 0 0.349946" rpy="0 -1.57079632679 -1.57079632679"/>
        </joint>

        <!-- camera link -->
        <link name="${endoscope_name}_link_cm">
        </link>

        <!-- optical frame https://answers.ros.org/question/232534/gazebo-camera-frame-is-inconsistent-with-rviz-opencv-convention/ -->
        <joint name="${endoscope_name}_joint_cm_optical" type="fixed">
            <parent link="${endoscope_name}_link_cm"/>
            <child link="${endoscope_name}_link_cm_optical"/>
            <origin xyz="0 0 0" rpy="-1.57079632679 0 -1.57079632679"/>
        </joint>  

        <link name="${endoscope_name}_link_cm_optical">
        </link>  

        <!-- extensions -->
        <xacro:endoscope_gazebo endoscope_name="${endoscope_name}" robot_name="${robot_name}"/>

    </xacro:macro>

</robot>
