<?xml version="1.0"?>

<!-- Here we define the robot, we named it "gripper" -->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="gripper">

    <!--Import the gripper macro -->
    <xacro:include filename="$(find da_vinci_gripper_description)/urdf/da_vinci_gripper.xacro"/>

    <!--  Arguments for the med7 macro  -->
    <xacro:arg name="hardware_interface" default="PositionJointInterface"/>
    <xacro:arg name="gripper_name" default="gripper"/>

    <!-- fix to world -->
    <link name="world"/>

    <!-- insert gripper -->
    <xacro:gripper  gripper_name="$(arg gripper_name)" hardware_interface="$(arg hardware_interface)" parent="world"/>

</robot> 
