<?xml version="1.0"?>

<!-- Here we define the robot, we named it "exoscope" -->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="exoscope">

    <!--Import the exoscope macro -->
    <xacro:include filename="$(find storz_exoscope_description)/urdf/storz_exoscope_description.urdf.xacro"/>

    <!--  Arguments for the med7 macro  -->
    <xacro:arg name="exoscope_name" default="storz_exoscope"/>
    <xacro:arg name="robot_name" default="lbr"/>

    <!-- fix to world -->
    <link name="world"/>

    <!-- insert exoscope -->
    <xacro:storz_exoscope  exoscope_name="$(arg exoscope_name)" robot_name="$(arg robot_name)" parent="world"/>

</robot> 
