<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="gripper_gazebo" params="gripper_name">

        <!-- ros_control-plugin -->
        <gazebo>
            <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
                <robotNamespace>/${gripper_name}</robotNamespace>
            </plugin>
        </gazebo>

        <!-- link 0 -->
        <gazebo reference="${gripper_name}_link_0">
            <mu1>0.2</mu1>
            <mu2>0.2</mu2>
            <material>Gazebo/Grey</material>
        </gazebo>

        <!-- link 1 -->
        <gazebo reference="${gripper_name}_link_1">
            <mu1>0.2</mu1>
            <mu2>0.2</mu2>
            <material>Gazebo/Grey</material>
        </gazebo>

        <!-- link 2 -->
        <gazebo reference="${gripper_name}_link_2">
            <mu1>0.2</mu1>
            <mu2>0.2</mu2>
            <material>Gazebo/Grey</material>
        </gazebo>

        <!-- link 3 -->
        <gazebo reference="${gripper_name}_link_3">
            <mu1>0.2</mu1>
            <mu2>0.2</mu2>
            <material>Gazebo/Grey</material>
        </gazebo>

        <!-- link 4 -->
        <gazebo reference="${gripper_name}_link_4">
            <mu1>0.2</mu1>
            <mu2>0.2</mu2>
            <material>Gazebo/Grey</material>
        </gazebo>

    </xacro:macro>

</robot>
