<?xml version="1.0"?>

<!-- Here we define the robot, we named it "endoscope" -->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="tilt_endoscope">

    <!--Import the endoscope macro -->
    <xacro:include filename="$(find storz_tilt_endoscope_description)/urdf/storz_tilt_endoscope.xacro"/>

    <!--  Arguments for the med7 macro  -->
    <xacro:arg name="tilt_endoscope_name" default="storz_tilt_endoscope"/>
    <xacro:arg name="robot_name" default="lbr"/>

    <!-- fix to world -->
    <link name="world"/>

    <!-- insert endoscope -->
    <xacro:storz_endoscope  tilt_endoscope_name="$(arg tilt_endoscope_name)" robot_name="$(arg robot_name)" parent="world"/>

</robot> 
